contact-form {
    margin-top: 50px;
  }
  .form-group-lg input[type="text"],
  .form-group-lg input[type="email"],
  .form-group-lg input[type="tel"],
  .form-group-lg textarea {
    height: 50px;
  }
  .form-group-lg textarea {
    height: 150px;
  }
.form-group{
    margin-bottom: 20px;
  }
